<h1>New Message</h1>

<% if @message.errors.any? %>
  <p>Something went wrong:</p>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>

  <div id="to">
    <%= render partial: "to_form" %>
  </div>
  <a href="javascript:;" id="addAnotherNumber">Add Another Number</a>
  <!-- had to do it in this order, would be nice to know how to take one or the other -->
  <!-- will default to second thing entered -->
  <div class="to-form">
    <%= f.select(:to, @contacts.map { |contact| [ contact.name, contact.number ] }, {:include_blank => 'Select from Contacts'}) %>
  </div>
  <%= f.text_field :to %>

  <div class="hide" id="new_number_form">
    <%= render partial: "to_form", locals: {to: false} %>
  </div>

  <%= f.label :from %>
  <%= f.text_field :from %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
