<h1>New Message</h1>

<% if @message.errors.any? %>
  <p>Something went wrong:</p>
  <ul>
    <% @message.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @message do |f| %>
  <h3>To</h3>
  <div id="to">
    <%= render partial: "to_form" %>
  </div>

  <p><a href="javascript:;" id="addAnotherNumber">Add Another Number</a> or <a href="javascript:;" id="addAContact">Add From Contacts</a> </p>


  <div class="hide" id="new_number_form">
    <%= render partial: "to_form" %>
  </div>

  <div class="hide" id="to_contact_form">
    <%= render partial: "to_contact_form" %>
  </div>

  <h3>From</h3>
  <%= f.text_field :from %>

  <h3>Message</h3>
  <%= f.text_area :body %>
  <%= f.submit "Send", class: 'btn btn-success' %>
<% end %>
