<!DOCTYPE html>
<html>
  <head>
    <title>Twilio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-tabs">
      <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "Home", root_path, { 'data-toggle' => 'tab' } %></li>
      <li class="<%= 'active' if params[:controller] == 'messages' && params[:action] == 'index' %>" ><%= link_to "Messages", messages_path, { 'data-toggle' => 'tab' } %></li>
      <li class="<%= 'active' if params[:controller] == 'messages' && params[:action] == 'new' %>"><%= link_to "New Message", new_message_path, { 'data-toggle' => 'tab' } %></li>
      <li class="<%= 'active' if params[:controller] == 'contacts' && params[:action] == 'index' %>"><%= link_to "Contacts", contacts_path, { 'data-toggle' => 'tab' } %></li>
      <li class="<%= 'active' if params[:controller] == 'contacts' && params[:action] == 'new' %>"><%= link_to "New Contact", new_contact_path, { 'data-toggle' => 'tab' } %></li>
    </ul>
    <div class="container">
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
